/* Configurações Gerais */
*
{
    padding: 0;  margin:  0;
}


body
{
    background-image: url('img/img1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    height: 100dvh;
}

/* ------------------------ */


/* Parte Superior da pagina */

header
{
    text-align: center;
}

/* -------------------------- */


/* Configurações da barra de navegação */
    
    .menu-bar {
        border-radius: 25px;
        height: fit-content;
        display: inline-flex;
        background-color: rgba(0, 0, 0, .4);
        -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);  
        align-items: center;
        padding: 0 10px;
        margin: 50px 0 0 0;

        li {
            list-style: none;
            color: white;
            font-family: sans-serif;
            font-weight: bold;
            padding: 12px 16px;
            margin: 0 8px;
            position: relative;
            cursor: pointer;
            white-space: nowrap;

        &::before 
        {
        content: " ";
        position: absolute;
        top: 0;
        left:0;
        height:100%;
        width: 100%;
        z-index:-1;
        transition: .2s;
        border-radius: 25px;
        }
        
        &:hover 
        {
        &::before 
        {               
       background: 
       linear-gradient(to bottom, #e8edec, #d2d1d3);
       box-shadow: 0px 3px 20px 0px black;
       transform: scale(1.2);
        }
        color: black;
        }
        }
    }

/* -------------------------- */

/* Configurando o conteudo principal da pagina */

h1
{
    margin-bottom: 15px;
}

#btd
{
    font-weight: bolder;
    background-color: rgb(236, 255, 126);
    border-style: none;
    padding: 0.4rem;
    border-radius: 20px;
    transition: 0.5s;
}

#btd:hover
{
    background-color: rgb(28, 192, 137);
    transition: 0.5s;
}

.cliques 
{
    margin-top: 15px;
    color: rgb(236, 255, 126);
}

.item
{
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.747); 
}

.item {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;    
}

.container
{
    justify-content: center;
    align-items: center;   
    height: 70%; 
    display: flex;
}

/* -------------------------- */


/* Configurando o rodapé da pagina */

footer
{
    position:  fixed;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
}

footer p 
{
    font-size: 1.3rem;
    color: white;
    text-align: center;
    font-weight: bolder;
}

footer a
{
    color: lightcoral;
    text-decoration: none;
}

footer a:hover
{
    color: rgb(203, 255, 16);
    text-decoration: underline;
}

/* -------------------------- */